flask==2.3.3
werkzeug==2.3.7
numpy==1.26.4
scikit-learn==1.6.1
pandas==2.2.2
reportlab==4.0.4
matplotlib==3.10.1
pillow==10.0.0
flask-wtf==1.1.1
email-validator==2.0.0
plotly==5.17.0
dash==3.0.3
seaborn==0.12.2
gunicorn==21.2.0